---
apiVersion: v1
kind: Secret
metadata:
  name: incident-reporting-secrets
  labels:
    app: incident-reporting-ui
data:
  passphrase: CHANGEME
  user: CHANGEME
  password: CHANGEME
  url: CHANGEME
  contractAddres: "0xc3c293c86cf2738c515e9bbd39c55927c83ea210"